{% extends "BlogBundle::empty.html.twig" %}

{% block body %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form-signin" action="{{ path('login_check') }}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control" name="_username" placeholder="Username"
                   value="{{ last_username }}" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" name="_password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->
{% endblock %}
