{% extends 'BlogBundle::base.html.twig' %}

{% block body %}
    <h2 class="page-header">
        {{ post.title }}
        <small class="text-muted">{{ post.author }}</small>
    </h2>

    <p>
        {{ post.body }}
    </p>
{% endblock %}

